# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Coverage directory
coverage/

# Build output
dist/
build/

# IDE settings
.vscode/
.idea/
.DS_Store
